.player
    max-height: 100%

.TV-Buttons__wrapper
    display: flex
    gap: 25px
    padding: 10px

.TV-Buttons__button
    background: none
    border: 1px solid #ccc
    padding: 8px 15px
    border-radius: 6px
    cursor: pointer
    transition: 0.3s

.TV-Buttons__button:hover
    background: #fff
    color: #000
